.project-page{
    width: 85%;
margin: auto;
}

.project-page-title-container{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.project-page-project-title{
    text-align: center;
    margin-bottom: 1vw;
}

.project-page-projct-tags{
    display: flex;
    gap: 10px;
    width: fit-content;
    margin: auto;
}

.project-page-projct-tag{
    text-transform: uppercase;
    font-family: poppins;
    font-weight:400 ;
    color: var(--text-primary-color);
    font-size: 14px;
    opacity: 0.6;
}

.project-page-step-full, .project-page-step{
    margin-bottom: 10vw;
}


.project-page-step-full-cover, .project-page-step-full-cover{
    width: 100%;
    height: auto;
}


.project-page-step-full-cover img{
    width: 100%;

}


.project-page-step-full-text h6, .project-page-step-double-text h6{
    margin:0;
}

.project-page-step-double-cover{
    width: 100%;
aspect-ratio:  3/2;
overflow: hidden;
}



.project-page-step-double-cover img{
    width: 100%;

}



.project-page-step-full-text h5, .project-page-step-double-text h5{    margin: 10px 0px;}



.project-page-step-double-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10vw;
}
.project-page-step-double{
    width: 45%;

}